name: Deploy to Kubernetes

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      namespace:
        required: true
        type: string
      deployment:
        required: true
        type: string
      create_local_cluster:
        required: false
        type: boolean
        default: false
    secrets:
      KUBECONFIG_CONTENT:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Create k8s Kind Cluster
        if: ${{ inputs.create_local_cluster }}
        uses: helm/kind-action@v1.8.0

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        
      - name: Deploy to K8s
        run: |
          if [ "${{ inputs.create_local_cluster }}" != "true" ]; then
            mkdir -p ~/.kube
            echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config
            chmod 600 ~/.kube/config
          fi
          
          kubectl create namespace ${{ inputs.namespace }} || true
          
          kubectl set image deployment/${{ inputs.deployment }} ${{ inputs.deployment }}=${{ inputs.image }} -n ${{ inputs.namespace }}
          kubectl rollout status deployment/${{ inputs.deployment }} -n ${{ inputs.namespace }}
